

@import "quartz";
@import "lux";
/* change the colors */
$secondary: #FF1744;
$border-color: #262626;

//$dark: #171515;
//$dark: #211515;
$dark: #181515;
$primary: $white;
//$danger: #dd0000;
//$success: lime;
//$warning: orange;
//$info: aqua;

$body-bg: #211515;
.common-bg{
    background-color: #211515;
}
.img{
    object-fit: cover;
}
.customCenter {
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column
};

.verticalCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.colorTheme-bg{
    background-color: $secondary;
}

.colorTheme {
color: $secondary;
}
.limitLines{
    display: -webkit-box;
    max-lines: 4 ;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.p{
    display: inline;
}
.colorTrans{
    background-color: rgba(33,21,21,0.9);
}
.colorThemeTrans{
    background-color: rgba(255, 23, 68,0.95);
}
.fillSpace {
    width: 100%;
    height: 100%;
}
main {
    min-height: 80vh;
    //background-color: hsla(0,0%,15%,0.5);
    background: linear-gradient(180deg,$dark,$body-bg);
    /* background-color: #262626; */
}

.fixPad {
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: 0 !important;
}
.footerBorder{
    border-right: #262626;
}

.searchBar{
    background-color: hsla(0,0%,100%,0.2);
    border-radius: 8px;
}
.glassEffect {
    background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2) 70%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.glassEffect-Dark{
    background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2) 70%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.loader-container {
    width: 100%;
    height: 80vh;

    align-items: center;
    -webkit-align-items: center;
    top: 40vh;
    left: 50%;
    background: linear-gradient(180deg,$dark,$body-bg);

}
.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    align-self: center;
    -webkit-align-self: center;
    border-color: $secondary transparent $primary transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@import '~bootstrap/scss/bootstrap.scss';
@import "_bootswatch.scss";

